input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pageCadastrarJogador {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/Backgrounds/backgroundCreatePlayer.jpg);
  /* background-image: url(../../img/enter.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
}

.optionVoltarJogador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3a6e78;
  border-radius: 0.8rem;
  box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin: 1rem;
  padding: 0.8rem;
  z-index: 1;
  transition: all .9s;
}

.optionVoltarJogador:hover {
  background-color: #2e4c53;
  color: white;
}

.aLogin {
  text-decoration: none;
  color: white;
}

.titleCadastrarJogador {
  color: white;
  padding-top: 0;
}

.boxJogadorCadastro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
  background-color: rgb(91 162 178 / 25%);
  padding: 5vh;
  width: 50vw;
}

.botaoAdicionarJogador {
  background-color: #3a6e78;
  border: 0;
  width: 100%;
  height: 3rem;
  transition: all .9s;
}

.botaoAdicionarJogador:hover {
  background-color: #2e4c53;
}